# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.aignore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# CI/CD
# .github/

# Capacitor (Android generated assets)
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
android/app/src/main/res/xml/config.xml
android/app/src/main/res/xml/file_paths.xml

# Android build/gradle files
android/build/
android/app/build/
android/.gradle/
android/.idea/
android/local.properties
android/capacitor-cordova-android-plugins/
android/app/release/
android/app/debug/
*.apk
